<script lang="ts">
  export let data;

  let product: App.Product;
  let options: App.ProductOption[];

  if (data.product) {
    product = data.product;
    options = product.options;
  }
</script>

<div class="product">
  <div class="product__description">
    <h2>{product.name}</h2>
    <p>{product.meta_description}</p>
    <input type="button" value="place in cart" />
    <div class="product__options">
      <h3>Options</h3>
      {#each options[0].values as option}
        <div>
          <span>{option.name}</span>
          <span>${option.price}</span>
        </div>
      {/each}
    </div>
  </div>
  <div class="product__image">
    <img src={product.images[0].file.url} alt={product.name} />
  </div>
</div>

<style>
  .product {
    margin: 6em auto;
    display: flex;
    width: 70%;
    color: #fff;
  }

  .product__description,
  .product__image {
    flex: 1;
    padding: 1em;
  }

  .product__image img {
    max-width: 100%;
  }

  .product__description p {
    color: white;
  }

  .product__description h2 {
    font-size: 2rem;
    margin: 0.8em 0;
  }

  .product__options {
    margin-top: 3em;
  }

  @media (max-width: 768px) {
    .product {
      flex-direction: column;
    }
  }
</style>
