<script lang="ts">
  import logo from "$lib/images/fallfree_logo_60.png";
  import { onMount } from "svelte";
  import Transition from "./transition.svelte";

  let darknav: Boolean = false;
  let toggled: Boolean = false;

  const closeMenu = () => {
    toggled = false;
  };

  export let data;

  onMount(() => {
    window.addEventListener("scroll", () => {
      const nav = document.querySelector(".nav") as HTMLElement;
      const content = document.querySelector("main") as HTMLElement;
      const navHeight = nav.offsetHeight;
      const contentTop = content.getBoundingClientRect().top + 83;

      darknav = contentTop <= navHeight;
    });

    const toggle = document.querySelector(".nav-toggle") as HTMLElement;
    const menu = document.querySelector(".nav__menu") as HTMLElement;

    toggle?.addEventListener("click", () => {
      toggled = !toggled;
      menu?.classList.add("open");
    });
  });
</script>

<svelte:head>
  <title>Fall Free Art - An Artist's Journey</title>
</svelte:head>

<header>
  <nav class="nav" class:dark={darknav}>
    <h1 class="nav__logo">
      <a href="/">
        <img src={logo} alt="fall free art" />
      </a>
    </h1>
    <ul>
      <div class="nav-toggle">
        <span class="bar" />
        <span class="bar" />
        <span class="bar" />
      </div>
      <div class="nav__menu" class:open={toggled}>
        <li><a href="/" on:click={closeMenu}>home</a></li>
        <li><a href="/" on:click={closeMenu}>about</a></li>
        <li><a href="/browse" on:click={closeMenu}>browse</a></li>
        <li><a href="/" on:click={closeMenu}>blog</a></li>
        <li><a href="/" on:click={closeMenu}>contact</a></li>
      </div>
    </ul>
  </nav>
</header>

<main>
  <Transition url={data.url}>
    <slot />
  </Transition>
</main>

<style>
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em 0.8em;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    padding-left: 1.8em;
    z-index: 2;
  }

  .nav__logo {
    padding-top: 0.4em;
  }

  .nav.dark {
    background-color: #794654;
    opacity: 0.9;
    transition: all 0.5s ease-out;
  }

  .nav__menu {
    display: flex;
    gap: 1em;
  }

  .nav__menu li {
    padding: 0.5em 1.2em;
  }

  .nav__menu li a {
    color: #eab498;
    text-transform: uppercase;
  }

  .nav-toggle {
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
    display: none;
    margin-right: 1.2em;
  }

  .nav-toggle .bar {
    width: 1.4em;
    height: 2px;
    background-color: #eab498;
    display: block;
    margin-bottom: 6px;
  }

  @media (max-width: 768px) {
    .nav__menu {
      display: block;
      background-color: #794654;
      position: absolute;
      left: -100%;
      top: 0;
      padding: 1.8em 0;
      text-align: center;
      height: 100vh;
      width: 50%;
      transition: all 0.25s ease-out;
    }

    .nav__menu.open {
      left: 0;
      transition: all 0.25s ease-out;
    }

    .nav-toggle {
      display: block;
    }
  }
</style>
