<script>
  import herobg from "$lib/images/sunrise.jpg";
</script>

<div
  class="hero"
  style="background: no-repeat center center/cover url({herobg});"
>
  <div class="hero-overlay" />
  <div class="hero__content">
    <div class="intro">
      <h2>fall free</h2>
      <h3>an artist's journey</h3>
      <p>
        Artist Charissa Adine strives to infuse her art and poetry with a
        longing to promote compassion and hope in what is so often a desperate
        world.
      </p>
    </div>
  </div>
</div>

<style>
  .hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 4em;
  }

  .hero__content {
    padding-top: 24em;
    z-index: 1;
  }

  .intro {
    color: #fff;
    border: 2px solid #666;
    border-radius: 20px;
    padding: 4em 2.6em;
    width: 45%;
  }

  .intro h2 {
    font-family: "Fine Spring";
    font-size: 4em;
    font-weight: 100;
    position: relative;
    padding-bottom: 0;
  }

  .intro h3 {
    padding-bottom: 1.6em;
  }

  .intro p {
    color: white;
    font-size: 1.2rem;
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 768px) {
    .hero__content {
      padding-top: 12em;
    }
    .intro {
      width: 100%;
    }
    .intro h2 {
      font-size: 3.4rem;
    }
    .intro h3 {
      font-size: 1rem;
    }
  }
</style>
