<script lang="ts">
  export let data;
</script>

<div class="gallery">
  {#each data.products as product}
    <div class="gallery__imagewrapper">
      <a href="product/{product.id}">
        <div class="gallery__piece">
          <h3 class="gallery__piece__name">{product.name}</h3>
          <p class="gallery__piece__description">{product.meta_description}</p>
        </div>
      </a>
      <img src={product.images[0].file.url} alt={product.name} />
    </div>
  {/each}
</div>

<svelte:head>
  <title>Browse the Art</title>
</svelte:head>

<style>
  .gallery {
    column-count: 3;
    column-width: 30%;
    column-gap: 1em;
    padding-top: 92px;
  }

  .gallery__piece {
    position: absolute;
    color: #eab498;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .gallery__imagewrapper:hover .gallery__piece {
    display: flex;
    cursor: pointer;
  }

  .gallery__piece__name {
    text-align: center;
    padding-bottom: 1em;
  }

  .gallery__piece__description {
    text-align: center;
    padding: 0 2em;
  }

  .gallery__imagewrapper {
    position: relative;
    margin-bottom: 1em;
  }

  .gallery__imagewrapper img {
    width: 100%;
  }

  @media (max-width: 768px) {
    .gallery {
      display: flex;
      flex-direction: column;
      z-index: 6;
    }
  }
</style>
