@font-face {
  font-family: 'Fine Spring';
  src: url('FineSpring.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #01103e;
}

main {
  /* padding-top: 5em; */

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#page-wrapper {
  display: contents;
}
